[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pkg-resources = "==0.0.0"
pytz = "==2017.3"
Django = "==2.0.2"

[requires]
python_version = "3.6"
