
 <div class="form-div">
 <form id="create_class">
     <span id="create_class_message" style="color:red;"></span>
        <label for="name">
          Name
        </label>
        <input name="name" class="form-control" type="text">
        <label for="description">
          Description
        </label>
        <input name="description" class="form-control" type="text">
        <label for=""seat_cost>
          Seat cost
        </label>
        <input name="seat_cost" class="form-control" type="text">
        <label for=""seat_cost>
          Max Students
        </label>
        <input name="student_threshold" class="form-control" type="text">
         <input type="submit" value="Submit">

 </form>
 </div>